Django>=5.2,<5.3
django-allauth[socialaccount,mfa]>=65.18,<66.0
django-cors-headers>=4.9,<5.0
dj-database-url>=3.0,<4.0
gunicorn>=23.0,<24.0
psycopg[binary]>=3.2,<4.0
python-dotenv>=1.1,<2.0
whitenoise>=6.9,<7.0
waitress>=3.0,<4.0
